<html>
<head>
<script>

function validate(form) {
    if(form.userName.length==0){
        return false;
    }else{
        return true;
    }
    if(form.password.length==0){
        return false;
    }else{
        return true;
    }
    if(form.name.length==0){
        return false;
    }else{
        return true;
    }
    if(form.age.length==0){
        return false;
    }else{
        return true;
    }
}
</script>
</head>


<a href="/"> GO HOME </a>

<body  background="images/images-2.jpg"><br>
    Yay,  <%= userObject.name %> you did it! <br>
    Your username is: <%= userObject.userName %> <br>
    Your password is:  <%= userObject.password %><br>
    You are <%= userObject.age %> years old<br><br>



    <form onsubmit="return validate(this)" action="addAttributes" method="post">
        Edit information: <br>
        Name: <input type="text" name="name" size="15" value=""> <br>
        Age: <input type="text" name="age" size="15" value=""><br>
        <input type="submit" value="update">
    </form>

    <form onsubmit="" action="addAttributes" method="post">
        Add Food: <br>
        food: <input type="text" name="food" size="15" value=""> <br>
        <input type="submit" value="add">
    </form>

    <style>
        body{color: white;}
        body{font-size: 40px;}
        body{background-repeat: no-repaeat;}
        body{background-size: 100%;}
    </style>

</body>
</html>